.overlay{
    display: flex;
    justify-content: center;
}
.main{
    width: 1170px;
    padding: 70px 20px;
    display: grid;
    grid-template-areas: "picture info";
    grid-template-columns: 50% 50%;
}
.picturesBlock{
    grid-area: picture;
    display: grid;
    grid-template-areas: "imgList imgChosen";
    grid-template-columns: 14% 86%;
}
.picturesBlock .imgList{
    grid-area: imgList;
}
.picturesBlock .imgList img{
    height: 100px;
}
.picturesBlock .imgChosen{
    grid-area: imgChosen;
    padding: 0 2%;
}
.picturesBlock .imgChosen img {
    width: 100%;
}
.info{
    grid-area: info;
    padding-left: 60px;
}
.pathBlock {
    color: #999;
    font-size: 12px;
    cursor: pointer;
    line-height: 1.15;
    initial-letter: 2;
}
.pathList {
    padding: 30px 0;
    width: 600px;
}
.title{
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-family: Ubuntu,sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1.15;
    display: flex;
}
.title div{
    width: 90%;
}
.infoSpans{
    padding-top: 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1.15;
    display: flex;
    gap: 0 25px;
}

.price{
    font-size: 26px;
    margin-top: 10px;
    font-family: Ubuntu,sans-serif;
    font-weight: 500;
    padding-bottom: 40px;
    border-bottom: 1px grey solid;
}
.add{
    display: flex;
    justify-content: space-between;
    font-family: Ubuntu,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
    padding-top: 40px;
}
.add div{
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descriptionOverlay{
    padding-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.descriptionBlock{
    width: 570px;
}
.descriptionTitle{
    cursor: pointer;
    font-size: 20px;
    font-family: Ubuntu,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
}
.descriptionValue{
    margin: 55px 0;
    line-height: 1.8;
    font-family: Ubuntu,sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.responseQuestionBlock{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.responseQuestionButton{
    width: 136px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    font-family: Ubuntu,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    /*padding-bottom: 4px;*/
    color: black;
}
.addResponseOrQuestion{
    padding: 20px 25px;
    width: 220px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-family: Ubuntu,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: black;
    color: white;
}

@media screen and (max-width: 1335px) {
    .main{
        width: calc(100% - 40px);
        grid-template-columns: 600px 1fr;
    }
    .picturesBlock{
        width: 600px;
    }
    .pathList {
        width: 400px;
    }
}
@media screen and (max-width: 1215px){
    .add{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }
    .add div{
        width: 100%;
    }
}
@media screen and (max-width: 1215px){
    .pathList {
        width: 350px;
    }
}
@media screen and (max-width: 1086px){
    .main{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .imgChosen{
        display: none;
    }
    .picturesBlock{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .imgList{
        overflow-x: auto;
        max-width: 98vw;
        display: flex;
    }
    .picturesBlock .imgList img{
        height: 600px;
    }
    .info{
        padding: 0 20px;
    }
    .pathList{
        width: 100%;
    }
    .title{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .infoSpans{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .price{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .add{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .add div{
        width: calc((100% - 60px) / 2);
        height: 60px;
    }
}

@media screen and (max-width: 725px) {
    .descriptionOverlay{
        overflow: hidden;
    }
    .descriptionBlock{
        width: 90%;
        overflow: hidden;
    }
}
