.mainDiv {
    width: 100%;
    position: absolute;
    left: 0;
    top: 122px;
    height: 335px;
    border-bottom: 2px black solid;
    color: black;
    background: white;
    z-index: 40;
}

.subDiv {
    padding: 55px 28%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 50px);
    height: 270px;
}

.category {
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    letter-spacing: 1.4px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 0;
}

.subCategory {
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.4px;
    cursor: pointer;
    padding: 10px 0;
    font-size: 12px;
    font-weight: 400;
    color: #6d6d6d;
}

/* for saving hover-styles by larger media only */
@media screen and (min-width: 1026px) {
    .category:hover {
        width: 75%;
        padding-bottom: 4px;
        border-bottom: 2px black solid;
    }

    .subCategory:hover {
        padding-bottom: 4px;
        text-decoration: underline black 1px;
        text-underline-offset: 4px;
    }
}


@media screen and (max-width: 1025px) {
    .mainDiv {
        width: 370px;
        left: 0;
        top: 0;
        height: 335px;
        border-bottom: none;
        color: white;
        background: black;
    }

    .subDiv {
        /*padding: 55px 28%;*/
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 270px;
    }

    .category {
        color: #f0f3f2;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        font-family: Ubuntu, sans-serif;
        font-weight: 300;
        margin: 0 0 30px;
        display: block;
        position: relative;
        width: 100%;
        padding: 0 40px 0 20px;
        cursor: pointer;
        line-height: 1.15;
    }

    .subCategory {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        font-family: Ubuntu, sans-serif;
        color: #6d6d6d;
        font-weight: 300;
        margin: 0 0 30px;
        display: block;
        position: relative;
        width: 100%;
        padding: 0 40px 0 20px;
        cursor: pointer;
        line-height: 1.15;
    }

    .goBack {
        background: lightgreen;
        border-top: #6d6d6d solid 1px;
        border-bottom: #6d6d6d solid 1px;
        height: 68px;
        display: grid;
        grid-template-areas: "arrow text .";
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .arrowBack {
        grid-area: arrow;
        padding-left: 20px;
    }

    .textBack {
        grid-area: text;
        justify-self: center;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        font-family: Ubuntu,sans-serif;
        font-weight: 300;
        position: relative;
        cursor: pointer;
    }

}