.main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "photo"
    "name"
    "price";
    gap: 8px;
}
.photo{
    grid-area: photo;
}
.photo img{
}
.name{
    grid-area: name;
    font-family: Ubuntu,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.15;
    cursor: pointer;
    margin-bottom: 10px;
}
.price{
    grid-area: price;
    font-size: 14px;
    font-family: Ubuntu,sans-serif;
    cursor: pointer;
    line-height: 1.15;
    font-weight: bolder;
}
.backgroundImageBlock{
    width: calc((1170px - 60px)/4);
}

@media screen and (max-width: 660px){

}