.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: black;
}

.main_block {
    background: black;
    height: 90px;
    color: white;
    display: grid;
    grid-template-areas:
    "logo menu"
    "logo submenu";
    grid-template-columns: 125px 1fr;
    grid-template-rows: 52px 38px;
    padding: 0 20px;
    width: 1170px;
}

.logo {
    grid-area: logo;
    align-self: center;
}
.logo img {
    height: 56px;
}
.menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu .genderLink {
    width: 16%;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.2px;
    cursor: pointer;
    line-height: 1.50;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.menu .genderLinkActive {
    width: 16%;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.2px;
    cursor: pointer;
    line-height: 1.50;
    font-weight: bolder;
    color: white;
    text-underline-offset: 8px;
    text-decoration: solid underline white 3px;
}
.submenu {
    grid-area: submenu;
}
.icons_set {
    display: flex;
    gap: 15px;
    align-items: center;
}
.active_category {
    background: white;
}
.burgerMenu {
    display: none;
}

.cartLength{
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: Ubuntu,sans-serif;
    font-weight: 500;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1235px) {
    .main_block {
        width: 100%;
    }
}
@media screen and (max-width: 1025px) {
    .genderLinks {
        display: none;
    }
    .submenu {
        display: none;
    }
    .overlay{
        justify-content: space-between;
        width: auto;
    }
    .main_block {
        grid-template-areas: "burgerMenu logo menu";
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 90px;
        width: 100%;
    }
    .burgerMenu {
        display: flex;
        align-items: center;
        grid-area: burgerMenu;
        filter: invert(100%) sepia(20%) saturate(0%) hue-rotate(327deg) brightness(105%) contrast(102%);
    }
    .burgerMenu:hover{
        filter: invert(35%) sepia(3%) saturate(7%) hue-rotate(24deg) brightness(95%) contrast(92%);
    }
    .comebackAlive{
        display: none;
    }

    .icons_set {
        padding-left: 20%;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 770px) {
    .overlay{
        width: 100%;
        height: 70px;
    }
    .logo{
        justify-content: start;
    }
    .logo img{
        height: 35px;
    }
    .main_block {
        height: 70px;
        grid-template-columns: 35px 64px 1fr;
        grid-template-rows: 70px;
        align-items: center;
    }
    .icons_set {
        width: 100%;
        padding-left: 80px;
        display: flex;
        justify-content: end;
        align-items: end;
    }
}