.overlay{
    inset: 0;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.3);
    margin-top: 90px;
    padding: 0;
    height: 100vh;
    z-index: 50;
}

.mainDiv{
    overflow: auto;
    background: black;
    position: fixed;
    height: 100vh;
    left: 0;
    width: 370px;
}

.genderBar{
    border-top: #6d6d6d solid 1px;
    padding: 20px 40px 15px 20px;
}
.genderLinks{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.genderLink {
    color: white;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.7px;
    font-weight: 700;
    text-decoration: none;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: -5px;
    cursor: pointer;
}
.genderLinkActive {
    color: white;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.7px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: -5px;
    cursor: pointer;
    text-underline-offset: 8px;
    text-decoration: solid underline white 2px;
}


.left_block{
    padding-top: 8px;
    margin-bottom: 17px;
}
.leftLink{
    line-height: 1.15;
    font-family: Ubuntu,sans-serif;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-bottom: 3px;
}


.comebackAlive{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.FAQBar{
    border-top: #6d6d6d solid 1px;
    padding: 25px 40px 15px 20px;

}
.FAQLink{
    color: #6d6d6d;
    font-weight: 500;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    font-family: Ubuntu,sans-serif;
    line-height: 1.15;
    letter-spacing: 0.5px;
}
.FAQMedias{
    height: 40px;
    display: flex;
    gap: 0 25px;
    align-items: center;
    padding-top: 45px;
}
.FAQMedia{

}
.FAQApps{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.FAQApp{
    border: 1px white solid;
    border-radius: 4px;
    height: 45px;
}

@media screen and (max-width: 770px){
    .overlay{
        margin-top: 70px;
    }
}