.main {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 20px 200px 20px;
}

.contentBlock {
    height: 100%;
    width: 1170px;
}

.list {
    width: 100%;
    display: grid;
    gap: 50px 20px;
    grid-template-columns: repeat(4, 1fr);
    /*z-index: 45;*/
}


.pathBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caption {
    width: 600px;
    font-size: 34px;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pathList {
    padding: 30px 0;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pathList span {
    color: #999;
    font-size: 12px;
    cursor: pointer;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}


.filterSortBar {
    width: 100%;
    display: grid;
    /*grid-template-columns: repeat(4, 25%);*/
    gap: 50px 20px;
    grid-template-columns: repeat(4, 1fr);
    height: 120px;
    padding-bottom: 50px;
}

.priceBlock {
    display: flex;
    flex-direction: column;
}

.fromTo {
    color: #777;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.15;
}

.priceTitle {
    padding-top: 25px;
    font-size: 13px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: black;
}

.priceInput {
    width: 60px;
    padding: 4px;
    border: 1px solid #dfddda;
    border-radius: 4px;
    appearance: none;
    outline: none;
    font-size: 16px;
    color: #000;
    overflow: visible;
    line-height: 1.15;
}

.sizeBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 120px;
}

.title {
    text-transform: uppercase;
    width: 90%;
    /*height: 60px;*/
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid #dfddda;
    height: 50%;
    font-size: 13px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.applyBlock {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
    height: 120px;
}

.applyBlock .apply {
    height: 50%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.applyBlock .applyTitle {
    font-size: 13px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.unset {
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(51, 51, 51);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    cursor: pointer;
}


.sortBlock {
    width: 100%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*height: 120px;*/
}

.sort {
    width: 100%;
    background: yellowgreen;

}

.sortTitle {
    text-transform: uppercase;
    /*height: 60px;*/
    /*height: 16px;*/

    /*display: flex;*/
    /*align-items: center;*/
    /*cursor: pointer;*/
    /*border-bottom: 2px solid #dfddda;*/
    /*height: 50%;*/
    font-size: 13px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.sortList {
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    position: absolute;
    height: 240px;
    padding: 22px 20px 0 20px;
}

.sortItem {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 30px;
    /*width: 65px;*/

    /*padding: 15px;*/
    /*margin: 3px 10px 3px 0;*/
}


@media screen and (max-width: 1225px) {
    .main {
        display: block;
    }

    .contentBlock {
        width: 100%;
    }

    .list {
        gap: 40px 20px;
        grid-template-rows: repeat(auto-fill, 1fr);
    }

    .sortList {
        width: 19.5%;
    }
}

@media screen and (max-width: 1190px) {
    .sortList {
        width: calc(((100vw - 40px) - 60px) - 75% + 20px);
    }
}

@media screen and (max-width: 1170px) {
    .sortList {
        height: 270px;
    }
}


@media screen and (max-width: 1025px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }

    .filterSortBar {
        display: grid;
        gap: 10px 20px;
        grid-template-areas:
        "price size apply"
        "sort sort sort";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 240px;
        padding-bottom: 30px;
    }

    .priceBlock {
        grid-area: price;
    }

    .sizeBlock {
        grid-area: size;
    }

    .applyBlock {
        grid-area: apply;
    }

    .sortBlock {
        grid-area: sort;
    }

    .unset {
        padding-left: 21px;
        justify-content: start;
        color: black;
    }

    .sortList {
        width: 90vw;
    }

    .sortItem {
        width: 90vw;
    }

    /*    to 770*/
}

@media screen and (max-width: 946px) {
    .sortList {
        /*width: calc(100vw - 40px);*/
        width: 90%;
    }

    .sortItem {
        width: 90%;
    }
}

@media screen and (max-width: 812px) {

    .sortList {
        width: calc(90% - 4px);
    }

    .sortItem {
        width: calc(90% - 4px);
    }
}


@media screen and (max-width: 770px) {
    .filterSortBar_mobile {
        width: 100%;
        display: flex;
        padding: 20px 0 40px;
    }
    .filterSortButtons_mobile {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        font-size: 13px;
        font-family: Ubuntu,sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }
    .overlay{
        inset: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobileFilterBlock{
        /*inset: 0;*/
        position: absolute;
        height: 340px;
        /*width: 400px;*/
        width: calc(100% - 40px);
        /*width: 100%;*/
        /*margin: 0 20px;*/
        background: white;
        /*width: calc(100% - 20px);*/
    }
    .title_cross_block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        font-size: 16px;
        font-family: Ubuntu,sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        padding: 0 20px;
    }
    .priceBlock{
        padding: 0 20px;
        width: 50%;
    }
    .sizeBlock{
        padding: 0 20px;
        width: 50%;
    }
    .applyBlock{
        padding-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .applyBlock .apply{
        width: 100%;
    }
    .unset{
        padding-left: 0;
        justify-content: center;
    }


    .sortBlock .unset{
        justify-content: start;
        padding: 20px;
    }
    .sortTitle{
        width: calc(100% - 80px);
    }


}

@media screen and (max-width: 600px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }

    .caption {
        width: 450px;
    }

    .pathList {
        width: 450px;
    }
}


