

.horizontal-slider {
    width: 100%;
    max-width: 260px;
    height: 50px;
    border: 1px solid grey;
}

.horizontal-slider .example-track {
    top: 24px;
    height: 2px;
}

/* Надпись */
.example-thumb {
    border-radius: 50%;
    background: black;
    height: 10px;
    width: 10px;
}
.horizontal-slider .example-thumb-0 {
    line-height: 38px;
    top: 15px;
    height: 20px;
    width: 20px;
}
.horizontal-slider .example-thumb-1 {
    line-height: 38px;
    top: 15px;
    height: 20px;
    width: 20px;
}

/* Повзунки до / в / після  */
.example-track.example-track-0 {
    background: #EAEAEA;
}
.example-track.example-track-1 {
     /*background: rgb(255, 0, 0);*/
    background: black;
}
.example-track.example-track-2 {
    background: #EAEAEA;

}