.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_block{
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 20px;
}
.child_block{
    display: flex;
    flex-direction: row;
    justify-content: left;
    /*padding: 4px;*/
}
.left_block{
    color: #6d6d6d;
    font-size: 9px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-family: Ubuntu,sans-serif;
    font-weight: 500;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 1.15;
    cursor: pointer;
    /*gap: 0 17px;*/
}
.left_block div{
    padding-right: 20px;
}
.left_block div:hover {
    color: blue;
}
.right_block{
    color: black;
    font-size: 13px;
    font-family: Ubuntu,sans-serif;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.right_block div{
    padding-right: 20px;
}
.phone_icon{
    height: 20px;
    color: black;
}


@media screen and (max-width: 1230px){
    .overlay{
        justify-content: space-between;
    }
    .main_block{
        width: 100%;
    }
}

@media screen and (max-width: 1180px){
    .numbers{
        display: none;
    }


}

@media screen and (max-width: 1025px){
    .overlay{
        display: none;
    }
}