.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.mainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    padding: 0 20px;
}
.catalogList {
    display: flex;
    flex-direction: column;
}
.catalogList div {
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.15;

}
.catalogList span {
    font-size: 12px;
    font-family: Ubuntu, sans-serif;
    letter-spacing: 1.2px;
    cursor: pointer;
    font-weight: 500;
    color: black;
    line-height: 1.15;
    padding-bottom: 30px;
}

.cooperate_list {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    line-height: 1.15;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cooperate_list span {
    padding-bottom: 30px;
}

.cooperate_list img {
    width: 110px;
}

.icon_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon_list img {
    max-height: 30px;
    color: black;
}

.download_stores {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.download_stores img {
    height: 45px;
}


@media screen and (max-width: 1225px) {
    .overlay {
        justify-content: space-between;
    }
    .mainDiv {
        width: 100%;
        gap: 0 20px;
    }
}

@media screen and (max-width: 960px) {
    .mainDiv {
        flex-wrap: wrap;
    }
    .socialMedia {
        padding-top: 40px;
    }
}


@media screen and (max-width: 600px) {
    .catalog {
        display: none;
    }
    .info {
        display: none;
    }
    .cooperate_list {
        display: none;
    }
    .socialMedia{
        display: none;
    }
    .mainDiv{
        justify-content: center;
        align-items: center;
    }
    .icon_list {
        justify-content: space-between;
    }
    .download_stores{
        justify-content: space-between;
    }
}

