.dropDownMenu-enter, .dropDownMenu-appear {
    /*right: 500px;*/
    width: 370px;
    transform: translateX(100%);
    transition: right 2s;
    opacity: 0;
}
.dropDownMenu-active, .dropDownMenu-appear-active {
    width: 0;
    transition: all 200ms;
    opacity: 1;
}
.dropDownMenu-exit {
    width: 370px;
    opacity: 1;
}
.dropDownMenu-active {
    width: 0;
    /*color: transparent;*/
    transition: left 2s;
    transform: translateX(100%);
    opacity: 0;
}