body{
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.pageDivineDiv {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    /*grid-template-rows: 123px minmax(300px, 1fr) 700px;*/
    grid-template-rows: 123px minmax(300px, 1fr) 700px;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    border-top: 2px solid black;
    /*padding: 50px 18.5%;*/
}

@media screen and (max-width: 1025px){
    .pageDivineDiv {
        grid-template-rows: 90px minmax(350px, 1fr) 510px;
    }
}
@media screen and (max-width: 960px){
    .pageDivineDiv {
        grid-template-rows: 90px minmax(350px, 1fr) 780px;
    }
}
@media screen and (max-width: 770px){
    .pageDivineDiv {
        grid-template-rows: 70px minmax(350px, 1fr) 780px;
    }
}
@media screen and (max-width: 600px){
    .pageDivineDiv {
        grid-template-rows: 70px minmax(300px, 1fr) 255px;
    }
}